@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes manyButtonSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes manyButtonBounce {
  0%, 100% {
    transform: translateX(5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}