@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes buttonSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes buttonBounce {
  0%,
  100% {
    transform: translateX(5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.earthbucks-prose {
  @apply prose prose-lg prose-slate mx-auto text-sm dark:prose-invert;
  font-size: 1em;
  line-height: 1.4em;
  text-align: left;
  overflow-x: hidden;
}

.earthbucks-prose > :first-child {
  @apply mt-0;
}

.earthbucks-prose > :last-child {
  @apply mb-0;
}

.earthbucks-prose h1 {
  font-size: 2em;
}

.earthbucks-prose a {
  color: black;
  text-decoration: underline;
}

.earthbucks-prose a:hover {
  color: black;
}

@media (prefers-color-scheme: dark) {
  .earthbucks-prose a {
    color: white;
    text-decoration: underline;
  }

  .earthbucks-prose a:hover {
    color: white;
  }
}
